@model List<Course_Manager.Models.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Students</h2>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("New", "Students")'">New Student</button>
@if (Model.Count == 0)
{
    <h1>There are currently no students in the database.</h1>
}
else
{
<table id="students" class="table table-bordered table-hover" >
    <thead>
        <tr>
            <th>Name</th>
            <th>Student Number</th>
            <th>Grade</th>
            <th>Actions</th>
        </tr>
    </thead>
    
    @foreach (Course_Manager.Models.Student student in Model)
    {
    <tr>
        <td><a href="/students/details/@student.StudentNumber">@student.FirstName @student.LastName</a></td>
        <td>@student.StudentNumber</td>
        <td>@student.Grade</td>
        <td>
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("New", "Students",  student)'">Edit</button>
            <button type="button", id="deleteStudent" class="btn btn-danger" onclick="DeleteStudent(@student.Id)">Delete</button>
        </td>
    </tr>
    }
    <tbody></tbody>
</table>
}


<script>
    function DeleteStudent(id) {
        bootbox.confirm("Are you sure you want to delete this student?", function (result) {
            if (result) {
                $.ajax({
                    url: "/api/students/" + id,
                    method: "delete"
                }).done(function (Response) {
                    toastr.success("Success. The student has been removed.");
                    location.reload();
                }).fail(function (Response) {
                    toastr.error("Something went wrong.");
                });
            }
        });
    }
</script>
